.fundo-site{
background-color: rgb(0, 0, 0);

}


.container-cabecalho{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(14, 13, 13);
    border:12cm;
    border-color: rgb(38, 139, 227);
    
    
}      

.container-cabecalho h3{
     
        font-family: "Sixtyfour Convergence", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-variation-settings:
          "BLED" 0,
          "SCAN" 0,
          "XELA" 0,
          "YELA" 0;
      }

.navegacao{
    
    display: flex;
    width: 100%;    
    justify-content: space-between;
    font-family: "Sixtyfour Convergence", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style:italic;
        font-variation-settings:
          "BLED" 0,
          "SCAN" 0,
          "XELA" 0,
          "YELA" 0;
    margin-top: 40px;
    margin-bottom: 40px;

}     
.paragrafo{
    width: 50%;
    display: flex;
    color: aliceblue;
    justify-content: end;
    align-items: center;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    margin-inline: 30%;
    background-color: rgb(46, 28, 0);
    margin-bottom: 50px;
    border-style: solid;
    border-width: 1px;
    border-color: chartreuse;
    
}

.paragrafo-2{
    width: 50%;
    display: flex;
    color: aliceblue;
    justify-content: end;
    align-items: center;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    margin-inline: 10%;
    margin-bottom: 100px;
    background-color: rgb(46, 28, 0);
    border-style: solid;
    border-width: 1px;
    border-color: chartreuse;

}

.aside{   

    
    width: 50%;
    display: flex;
    color: aliceblue;
    justify-content: space-between;
    font-family: "Playfair Display", serif;
    font-size: small;
    margin-bottom: 100px;
    background-color: blueviolet;
    border-style: solid;
    border-width: 1px;
    border-color: chartreuse;
    
    
   

}

.paragrafo-3{
    width: 50%;
    display: flex;
    color: aliceblue;
    justify-content: end;
    align-items: center;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    margin-inline: 30%;
    background-color: rgb(46, 28, 0);
    margin-bottom: 50px;
    border-style: solid;
    border-width: 1px;
    border-color: chartreuse;
}

.rodape{
    width: 100%;
    display: flex;
    color: rgb(255, 255, 255);
    justify-content: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 12px;
    margin-bottom: 100px;
    background-color: rgb(14, 13, 13);
    align-content: center;
    text-align: center;
    margin-bottom: 50px;
   
    
}

.tom-cruise-img{
    width: 50%;
    display: flex;
    color: aliceblue;
    justify-content: end;
    align-items: center;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    margin-inline: 30%;
    background-color: rgb(46, 28, 0);
    border-style: solid;
    border-width: 1px;
    border-color: chartreuse;
    
    
    
}


